.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.header-left {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    .header-link {
        text-decoration: underline;
        margin-right: 20px;
    }
}
.header-right {
    font-weight: bold;
}